.contenedor {
    background-color: bisque;
    width: 250px;
    height: 100px;
    padding: 15px;
    overflow: hidden;
}

.contenedor-scroll {
    margin: 20px 0px;
    background-color: bisque;
    width: 250px;
    height: 100px;
    padding: 15px;
    overflow: scroll;
}

.contenedor-visible {
    margin: 20px 0px;
    background-color: bisque;
    width: 250px;
    height: 100px;
    padding: 15px;
    overflow: visible;
}

.contenedor-auto {
    margin: 20px 0px;
    background-color: bisque;
    width: 250px;
    height: 100px;
    padding: 15px;
    overflow: auto;
}

.contenedor-scroll-x {
    margin: 20px 0px;
    background-color: bisque;
    width: 250px;
    height: 100px;
    padding: 15px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.contenedor-scroll-y {
    margin: 20px 0px;
    background-color: bisque;
    width: 250px;
    height: 100px;
    padding: 15px;
    overflow-y: scroll;
}
