@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,500;1,100&display=swap');

html{
    font-family: 'Fira Sans', sans-serif;
    font-size: small;
    font-weight: 100;
    font-style: italic;
}